@font-face {
  font-family: "Love Ya Like A Sister";
  src: url(../fonts/Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf);
  font-weight: 400;
}
*,
html,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Love Ya Like A Sister", cursive;
}

body {
  width: 100vw;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionDiv {
  max-width: 703px;
  width: 40%;
  text-align: center;
  h1 {
    margin-bottom: 20px;
  }
  button {
    padding: 7px 14px;
    cursor: pointer;
    transition: 70ms;
  }
}

#modal {
  position: fixed;
  min-width: 50%;
  max-width: 800px;
  height: 60%;
  display: none;
}
#modalPic {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 16px;
}
#closeBtn {
  border-radius: 50%;
  width: 5%;
  height: 7%;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  & > #crossStick {
    background-color: black;
    width: 2px;
    height: 90%;
  }

  & > #crossStick:nth-child(1) {
     transform: rotate(47deg);
  }
  & > #crossStick:nth-child(2) {
     transform: rotate(-47deg);
     transform: translateY();
  }
}

@media (min-width: 1024px) {
  #modal {
    width: 1000px;
  }
}
@media (max-width: 1024px) {
  #modal {
    width: 80%;
  }
}
@media (max-width: 480px) {
  #modal {
    width: 95%;
  }
  #modalPic {
    object-fit: cover;
  }
  #closeBtn {
    width: 40px;
  }
}
